version: "3"

services:
    mongo:
        container_name: slr_mongo_4_0
        image: mongo:4.0
        environment:
            - MONGO_INITDB_DATABASE=slr
        volumes:
            - ./docker-assets/mongo/data:/home/mongo
        ports:
            - "10017:27017"
    